body {
    font-family: Tahoma;
    align-content: center;
    background-color: rgba(72, 64, 95, 0.8);
    color: rgb(72, 64, 95);
 }

 ::selection {
    color:rgb(144, 151, 216);
    background: rgb(72, 64, 95);
  }
 body, .nav ul, .nav li {
    margin: 0;
    padding: 0;
    border: 0;
  }
  .nav {
    background-color: rgb(144, 151, 216);
    height: 60px; 
  }
 .nav li {
    display: inline-block;
    list-style: none;
    height: 60px; 
    line-height: 60px; 
    padding: 0 40px; 
  }
  .nav a {
    color: rgba(72, 64, 95);
    text-decoration: none;
    letter-spacing: 1px;
  }
 .nav li:hover {
     background:rgb(211, 205, 243);
    transition: background .5s;
  }
.intro {
    background-color: rgba(211, 205, 243, 0.4);
    padding: 230px 5% 250px 5%;
    margin: -10% auto;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
h2 {
    border-radius: 10px;  
    background-color: rgb(211, 205, 243);
    padding: 20px 25px 20px 25px;
    font-size: 180%;
    margin: auto 10%;
}
h3 {  
    border-radius: 10px;  
    background-color: rgb(211, 205, 243);
    margin: 15px 20% 40px;
    padding: 20px 10%;
    font-size: 150%;
}
h4 {  
    color: rgb(211, 205, 243);
    margin: 10px 40px 60px;
    padding: 20px 20% 20px 20%;
    font-size: 100%;
}
.intro h3 {
    font-size: 100%;
    color: rgb(211, 205, 243);
    background-color: rgb(72, 64, 95);
    border-radius: 1px;
    padding: 10px 5%;
    margin: 20px 28% 15px;
    letter-spacing: 2px;
    /*box-shadow: 0px 0px 20px 4px rgb(72, 64, 95);*/
}
/* Old Next Style
.next {
    display: inline-block;
    background-color: rgb(211, 205, 243);
    padding: 10px 20px;
    margin-top: 5%;
    margin-left: 5%;
    size: 100px;
    position: absolute;
    box-shadow: 5px 5px rgba(211, 205, 243, 0.4);
    border-color:rgb(211, 205, 243);
}
.next:hover {
    background-color: rgba(211, 205, 243, 0.8);
    cursor: url("../Images/emojicursor.png"), auto;
}
#portrait {
    height: 400px;
    width: 400px;
    padding: 10px 10px 10px 10px;
    border-radius: 20%;
}
*/
#pixel-info {
    padding-bottom: 6em;
}
.skill {
    font-size: 100%;
    text-decoration: bold;
    border-color: rgb(72, 64, 95);
    margin: 10% 20%;
}
#portrait:hover{
    cursor: url("../Images/emojicursor.png"), auto;
}
#port-container {
  align-content: center;
  align-items: center;
  width: 450px;
  height: 1200px;
  display: block;
  margin: -40% -7.5% -30% 20%;
  overflow-y: auto;
  overflow-x: hidden;
  transform-origin: center center;
  transform:rotate(-90deg) translateY(-100px);
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}
#portraits img{
    border-radius: 20%;
    height: 400px;
    width: 400px;
  display: inline-block;
  transform:rotate(90deg);
  transform-origin: center center;
  padding: 30px;
  margin: auto;
  list-style: none;
}
#port-container:hover{
    cursor: url("../Images/emojicursor.png"), auto;
}
#port-container::-webkit-scrollbar {
display: none;
}
#desc {
    margin: 0;
}
.music {
    box-shadow: 0 0 50px rgba(211, 205, 243, 0.4);
    color:rgb(211, 205, 243);
    background-color: rgba(72, 64, 95, 0.8);
    padding: 30px 0.5% 30px;
    margin: 0.1px 100px 0.1px;
    padding: 10% auto;
    border-radius: 10%;
}
.music ul li {
    text-decoration: none;
    padding: 1% 0.5%;
    margin: 0% 4% 1px 0%;
    list-style-type: none;
}
.Contacts {
    padding: 10px; margin: 2px;
    list-style-type: none;
    text-decoration: none;
    color:rgb(211, 205, 243);
    padding: 15% auto;
}
a {
    color:rgb(211, 205, 243);
}
#title {
    margin: -10% auto 10%;
}
footer p a {
    background-color: rgba(72, 64, 95, 0.4);
    border-radius: 5%;
    text-decoration: none;
}
footer p a:hover {
    
    text-decoration: underline;
}
#choose {
    margin:  2% 1% 2%;
    padding: 10% auto;
}
#choose:hover {
    background-color: rgba(72, 64, 95, 0.8);
    border-radius: 5%;
    padding: 30% auto;
    display: block;
    text-decoration: underline;
    cursor: url("../Images/musiccursor.png"), auto;
}
 .music ul li:hover {
    background-color: rgba(72, 64, 95, 0.8);
    border-radius: 5%;
    padding: 30% auto;
    margin: auto 5px auto -5%;
    text-decoration: underline;
    cursor: url("../Images/musiccursor.png"), auto;
}
footer {
    margin: 5% auto auto;
    padding: 2% 1%;
    text-align: center;
    background-color: rgba(72, 64, 95, 0.8);
    color:rgb(211, 205, 243);
}
