body, .nav ul, .nav li {
    font-family: Tahoma;
    align-content: center;
    margin: 0;
    padding: 0;
    border: 0;
 }
 ::selection {
   color:rgb(144, 151, 216);
   background: rgb(72, 64, 95);
 }
 body {
  background-color: rgb(144, 151, 216);
  color: rgb(72, 64, 95);
 }
 .nav {
    background-color: rgb(72, 64, 95);
    height: 60px; 
  }
 .nav li {
    display: inline-block;
    list-style: none;
    height: 60px; 
    line-height: 60px; 
    padding: 0 40px; 
  }
  .nav a {
    color: rgb(211, 205, 243);
    text-decoration: none;
    letter-spacing: 1px;
  }
 .nav li:hover {
     background:rgba(211, 205, 243, 0.4);
    transition: background .5s;
  }
.info {
  padding: 5px 0px; margin: 2% 55% auto 10%;
}
.info ul {
  background:rgba(211, 205, 243, 0.8);
}
.info li {
  padding: 40px auto 20px 40px;
  margin: 2px auto;
}
.info a {
  text-decoration: solid;
}
.info a:hover {
  text-decoration: underline;
}
h2 {
    border-radius: 10px;  
    background-color: rgb(211, 205, 243);
    padding: 20px 25px;
    font-size: 180%;
    margin: 30px 30% 15px;
}
h3 {  
    border-radius: 10px;  
    background-color: rgb(211, 205, 243);
    margin: 15px 20% 40px;
    padding: 20px 10%;
    font-size: 150%;
}
h4 {  
    color: rgb(72, 64, 95);
    margin: 0.5px 0;
    padding: 20px 1% 5px;
    font-size: 125%;
    letter-spacing: 1px;
}
.creations {
  margin: 10% auto;
}
.aboutme p {
  margin: 2% 10%;
}
p {
  margin: 1% 10% 0% 0%;
  padding: 5px 1px;
}
h4 a {
  color: rgb(72, 64, 95);
  padding: auto 1%;
  text-decoration: none;
}
h4 a:link {
    color: rgb(72, 64, 95);
    border-radius: 5%;
    text-decoration: none;
}
h4 a:active {
  color: rgb(144, 151, 216);
}
h4 a:hover {
    text-decoration: underline;
}
h4 a:visited {
    text-decoration: underline;
}
.creations {
  background-color: rgba(72, 64, 95, 0.2);
}
footer p a {
    color:rgb(211, 205, 243);
    border-radius: 5%;
    text-decoration: none;
}
footer p a:hover {
    text-decoration: underline;
}
#choose {
    margin:  2% 1% 2%;
    padding: 10% auto;
}
#choose:hover {
    background-color: rgba(72, 64, 95, 0.8);
    border-radius: 5%;
    padding: 30% auto;
    display: block;
    text-decoration: underline;
    cursor: url("../Images/musiccursor.png"), auto;
}
footer {
    margin: 5% auto auto;
    padding: 2% 1%;
    text-align: center;
    background-color: rgb(72, 64, 95, 0.8);
    color:rgb(211, 205, 243);
}